*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}
form{
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 3px 5px 2px 2px rgb(0, 0, 0);
    background-position: center;
}
input, select, textarea{
    width: 100%;
    padding: 4px;
    margin: 4px;
    border: 1px solid darkslateblue;
    border-radius: 4px;

}
input:focus,select,textarea:focus{
    border-color: crimson;
    outline: none;
}
label{
    font-weight: bold;
}
.radio-group{
    display: flex;
    gap: 10px;
}
.buttom-group{
    display: flex;
    justify-content: space-between;
}
.buttom{
    width: 48px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;      
}
.buttom:hover{
    background-color: rgb(161, 146, 7,0.946);
}
